@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Pacifico');

body {
  font-family: monospace;
  color: white;
}

.metal {
  background-color: rgba(1,14,82, 0.6);
  padding: 10px 20px;
}

.metal-box {
  background-color: rgba(1,14,82, 0.6);
  padding: 10px 20px;
}

.purple {
  background-color: rgba(155,88,186, 0.6);
  padding: 10px 20px;
}

.purple-curly {
  font-family: 'Pacifico', sans-serif;
  text-shadow: 3px 1px 0px rgba(49,33,70, 0.6);
  background-color: rgba(155,88,186, 0.6);
  padding: 10px 20px;
}

.light-purple {
  background-color: rgba(95,98,202, 0.6);
  padding: 10px 20px;
}

.teal {
  font-family: 'Pacifico', sans-serif;
  background-color: rgba(34,201,156, 0.6);
  padding: 10px 20px;
  text-shadow: 3px 1px 0px rgba(12,87,91, 0.6);
}

.green {
  background-color: rgba(66,180,69, 0.6);
  padding: 10px 20px;
  text-shadow: 3px 1px 0px rgba(17,105,57, 0.6);
  font-family: 'Pacifico', sans-serif;
}

.dark-green {
  background-color: rgba(17,105,57, 0.6);
  padding: 10px 20px;
}

.light-green {
  background-color: rgba(66,180,69, 0.6);
  padding: 10px 20px;
}

.blue {
  background-color: rgba(16,110,168, 0.6);
  padding: 10px 20px;
}

.blue-curly {
  background-color: rgba(28,178,212, 0.6);
  padding: 10px 20px;
  font-family: 'Pacifico', sans-serif;
  font-size: 3em;
  text-shadow: 3px 1px 0px rgba(11,41,60, 0.6);
}

.hegel {
  position: absolute;
  top: 300px;
  left: 150px;
  font-family: 'Pacifico', sans-serif;
  font-size: 4em;
  text-shadow: 3px 1px 0px rgba(11,41,60, 0.6);
}

.marx {
  position: absolute;
  top: 330px;
  left: 190px;
  font-family: 'Pacifico', sans-serif;
  font-size: 4.2em;
  text-shadow: 3px 1px 0px rgba(11,41,60, 0.6);
}

.white {
  margin: 0 auto;
  width: 40%;
  background-color: rgba(255,255,255,0.6);
  padding: 10px 20px;
}

.white2 {
  background-color: rgba(255,255,255,0.6);
  padding: 10px 20px;
}

.white3 {
  background-color: rgba(255,255,255,1);
}

.smallimg img {
  width: 40%;
}

.smallerimg img {
  width: 60%;
}

.smaller {
  font-size: 0.8em;
}

.bigger {
  font-size: 2em;
}

.biggish {
  font-size: 1.4em;
}

.dark-teal {
  background-color: rgba(12,87,91, 0.6);
  padding: 10px 20px;
}

.no {
  position: absolute;
  top: -112px;
  left: 0;
}

iframe {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 850px;
  height: 600px;
}

.real-big {
  text-shadow: 3px 1px 0px rgba(1,14,82, 0.6);
  font-family: 'Pacifico', sans-serif;
  font-size: 2.2em;
  font-weight: 700;
  background-color: rgba(66,198,218, 0.6);
  padding: 10px 20px;
}

.spacedogs {
  position: absolute;
  bottom: 0;
  left: 0;
}

.nodejs img {
  background-color: rgba(255,255,255, 0.8);
  padding: 20px 20px;
  width: 60%;
}

.rust img {
  background-color: rgba(66,198,218, 0.6);
  padding: 20px 20px;
}

.rust-green img {
  background-color: rgba(66,180,69, 0.6);
  padding: 20px 20px;
}

.lucy {
  font-family: 'Pacifico', sans-serif;
  font-weight: 700;
  font-size: 1.6em;
  background-color: rgba(66,198,218, 0.6);
  padding: 10px 20px;
  text-shadow: 3px 1px 0px rgba(1,14,82, 0.6);
}

.lucy-box {
  text-shadow: 3px 1px 0px rgba(1,14,82, 0.6);
  background-color: rgba(66,198,218, 0.6);
  padding: 10px 20px;
}

.lucy2 {
  text-shadow: 3px 1px 0px rgba(1,14,82, 0.6);
  font-family: 'Pacifico', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgba(66,198,218, 0.6);
  padding: 10px 20px;
}

.citation {
  padding: 10px 20px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: 400;
  font-size: 0.5em;
}

.author {
  font-family: 'Pacifico', sans-serif;
  text-align: right;
  margin-right: 50px;
}

img {
  max-width: 100%;
}

.full-width img {
  min-width: 600px;
}

a, a:active, a:visited {
  color: white;
}

.space-turtle h1, .space-turtle h2 {
  background-color: #008B8B;
  color: white;
  padding: 10px 20px;
}

.turtle {
  position: absolute;
}

/* source */
h5 {
  position: absolute;
  bottom: 10px;
  font-weight: 400;
  margin-right: 20px;
  font-size: 0.5em;
}

blockquote {
  padding: 10px 20px;
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
}

blockquote::before {
  content: '“';
  position: absolute;
  display: inline-block;
  margin-left: -2.1em;
  width: 2em;
  text-align: right;
  font-size: 90px;
}

.highlight {
  text-shadow: 3px 1px 0px #008B8B;
}

.remark-slide-content {
  background-color: #2A2947;
  position: relative;
}
